<br>

 <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">nike.com <i>We are the best ... </i> We are experiencing a high volume of contacts and wait times may be longer than usual. Thank you for your patience.Keep up to date on the latest products, athletes features and on all things Nike at news.nike.com.</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Categories</h6>
            <ul class="footer-links">
              <li><a href="https://nodejs.org/en/">NodeJs</a></li>
              <li><a href="https://angular.io/">AngularJs</a></li>
              <li><a href="https://material.io/">Material Design</a></li>
              <li><a href="https://www.php.net/">PHP</a></li>
              <li><a href="https://valor-software.com/ngx-bootstrap/#/">Ngx-bootstrap</a></li>
              <li><a href="https://getbootstrap.com/">Bootstrap</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a [routerLink]="['/home']">Home</a></li>
              <li><a [routerLink]="['/men']">Men Shoes</a></li>
              <li><a [routerLink]="['/women']">Women Shoes</a></li>
              <li><a [routerLink]="['/register']">Register</a></li>
              <li><a [routerLink]="['/login']">Login</a></li>
              <li><a [routerLink]="['/dashboard/products']">Dashboard</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
         <a href="#">Essid Ibrahim</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">

              <li><a class="facebook" href="https://facebook.com"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="https://twitter.com"><i class="fa fa-twitter"></i></a></li>
              <li><a class="dribbble" href="https://dribble.com"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="linkedin" href="https://linkedin.com"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
</footer>
